/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Shared Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Shared Styles */
.btn-primary {
    color: white;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary:hover {
    background-color: gray;
    transform: scale(1.1);
}

/* Header Section */
header {
    color: rgba(58, 58, 58, 1);
    max-width: 90%;
    margin: 60px auto;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}
ul {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: center;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 500;
}

/* Banner Section */

#banner {
    margin-top: 60px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content, .banner-img {
    width: 40%;
}

.banner-img img {
    transform: scale(0.9);
}
.banner-img {
    background: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Sponsor Section */
#sponsor {
    max-width: 80%;
    margin: 60px auto;
    padding: 40px;
    border-top: 1px solid rgba(58, 58, 58, 0.1);
    border-bottom: 1px solid rgba(58, 58, 58, 0.1);
}

.sponsor-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    align-items: center;
}



/* Responsive Design */

/* Responsive for Mobile */

@media screen and (max-width:576px) {
    /* header section */
    nav, ul {
        flex-direction: column;
        gap: 20px;
    }
    .banner-container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content, .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }
    .banner-title {
        font-size: 2rem;
    }
    /* sponsor section */
    #sponsor {
        border: none;
    }
    .sponsor-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .sponsor-container img {
        width: 200%;
    }
}