/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Shared Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Shared Styles */


/* Header Section */
header {
    color: rgba(58, 58, 58, 1);
    max-width: 90%;
    margin: 60px auto;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}
ul {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: center;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 500;
}



/* Responsive Design */

/* Responsive for Mobile */

@media screen and (max-width:576px) {
    nav, ul {
        flex-direction: column;
        gap: 20px;
    }
}